# 분석 결과 확인

In [1]:
import numpy as np
import pandas as pd

In [2]:
analysis_result = pd.read_csv("submission.csv")
analysis_result = analysis_result.fillna(0)
analysis_result

,url,use_tmi_words_value,similar_sentence_value,commissional_words_value,commission_image_value,image_similarity_value
0,https://blog.naver.com/1457dudgus/222565835669,8,573,1,0,0.018
1,https://blog.naver.com/jangingin/222544329875,9,914,1,0,0.002
2,https://blog.naver.com/apfjtzzz/222354696565,12,706,0,0,0.006
3,https://blog.naver.com/help1207/222548639407,15,1535,1,0,0.018
4,https://blog.naver.com/wd4367/222576151259,5,1772,0,0,0.024
...,...,...,...,...,...,...
2809,https://blog.naver.com/ekdms7146/222527946737,2,67,0,0,0.002
2810,https://blog.naver.com/dbsdustn007/222537839304,2,71,0,0,0.024
2811,https://blog.naver.com/hopeu_self90/222300219919,3,236,1,0,0.014
2812,https://blog.naver.com/sparkdanmuji/222282109032,10,1474,1,0,0.030
2813,https://blog.naver.com/ejkim0422/221992057540,4,184,0,0,0.008

In [3]:
analysis_result.shape

(2814, 6)

# 분석 결과 정규화

In [4]:
def normalization(data_set):
    x_max = max(data_set)
    x_min = min(data_set)
    
    # 최댓값 최솟값이 둘다 0이라면 어차피, 0으로 이루어진 리스트이므로 그대로 반환
    if(x_max - x_min) == 0:
        return data_set
    
    result = np.array((data_set - x_min) / (x_max - x_min))
    
    return result.tolist()

In [5]:
analysis_result["use_tmi_words_value"] = normalization(analysis_result["use_tmi_words_value"])
analysis_result["similar_sentence_value"] = normalization(analysis_result["similar_sentence_value"])
analysis_result["commissional_words_value"] = normalization(analysis_result["commissional_words_value"])
analysis_result["commission_image_value"] = normalization(analysis_result["commission_image_value"])
analysis_result["image_similarity_value"] = normalization(analysis_result["image_similarity_value"])

analysis_result

,url,use_tmi_words_value,similar_sentence_value,commissional_words_value,commission_image_value,image_similarity_value
0,https://blog.naver.com/1457dudgus/222565835669,0.123077,0.045787,1.0,0.0,0.45
1,https://blog.naver.com/jangingin/222544329875,0.138462,0.073228,1.0,0.0,0.05
2,https://blog.naver.com/apfjtzzz/222354696565,0.184615,0.056490,0.0,0.0,0.15
3,https://blog.naver.com/help1207/222548639407,0.230769,0.123199,1.0,0.0,0.45
4,https://blog.naver.com/wd4367/222576151259,0.076923,0.142271,0.0,0.0,0.60
...,...,...,...,...,...,...
2809,https://blog.naver.com/ekdms7146/222527946737,0.030769,0.005070,0.0,0.0,0.05
2810,https://blog.naver.com/dbsdustn007/222537839304,0.030769,0.005391,0.0,0.0,0.60
2811,https://blog.naver.com/hopeu_self90/222300219919,0.046154,0.018669,1.0,0.0,0.35
2812,https://blog.naver.com/sparkdanmuji/222282109032,0.153846,0.118291,1.0,0.0,0.75
2813,https://blog.naver.com/ejkim0422/221992057540,0.061538,0.014485,0.0,0.0,0.20

# Classification

In [6]:
from sklearn.cluster import KMeans
import matplotlib.pyplot  as plt

# 특징 요소 분리
feature = analysis_result[["use_tmi_words_value", "similar_sentence_value", "commissional_words_value", "commission_image_value", "image_similarity_value"]]

# 세개의 군집으로 분리
# 각 군집은, 바이럴 데이터 정도 낮음, 중간, 높음을 의미함
model = KMeans(n_clusters=3,algorithm='auto')
model.fit(feature)
predict = pd.DataFrame(model.predict(feature))
predict.columns=['predict']
print(predict['predict'])

0       1
1       1
2       2
3       1
4       0
       ..
2809    2
2810    0
2811    1
2812    1
2813    2
Name: predict, Length: 2814, dtype: int32

In [8]:
# submission.csv에 기록
f = pd.read_csv("submission.csv")
f = f.fillna(0)
f['class'] = predict['predict']

f.to_csv('submission.csv', mode='w')

# 모듈 종료

In [9]:
print("text_module_finish")

text_module_finish